<h1>My notes</h1>

<div class="container">
  <form name="myform" ng-submit="addNote()" novalidate>
    <div class="form-group">
      <div class="col-xs-4">
        <input class="form-control input-lg" placeholder="Write a note and type +"
          type="text" name="notename" ng-model="notename" ng-required="true">
      </div>
      <div class="col-xs-2">
        <button type="submit" class="btn btn-success btn-lg" ng-disabled="myform.$invalid">+</button>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <ul class="list-group" ng-repeat="(key, note) in notes">
    <li class="list-group-item">{{ note.name }}
      <button class="btn btn-danger btn-xs pull-right" ng-click="deleteNote(key)">Delete</button>
    </li>
  </ul>
</div>
