<h2>My tasks <span ng-show="howManyTasks">{{ howManyTasks }}</span>
</h2>

<div class="container">
  <form name="myform" ng-submit="addTask()" novalidate>
    <div class="form-group">
      <div class="col-xs-4">
        <input class="form-control input-lg" placeholder="Write a task and type +"
          type="text" name="taskname" ng-model="taskname" ng-required="true">
      </div>
      <div class="col-xs-2">
        <button type="submit" class="btn btn-success btn-lg" ng-disabled="myform.$invalid">+</button>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <ul class="list-group" ng-repeat="(key, task) in tasks">
    <li class="list-group-item">{{ task.name }}
      <button class="btn btn-danger btn-xs pull-right" ng-click="deleteTask(key)">Delete</button>
    </li>
  </ul>
</div>
